
html[lang="tr"] #wb_header { height: 90px; }
html[lang="tr"] #wb_header > .wb_cont_bg { background: transparent none repeat scroll center top; }
html[lang="tr"] #wb_main { height: 2040px; padding-bottom: 40px; }
html[lang="tr"] #wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
html[lang="tr"] #wb_footer { height: 60px; }
html[lang="tr"] #wb_footer > .wb_cont_bg { background: #1a1b1c none repeat-x scroll left top; }
body { background: #eae8e9 url("../gallery_gen/5ff3535e58d03488cc7970a1ac70f998.jpg") no-repeat scroll center top; background-size: contain; }
.wb_sbg { background: transparent url("../gallery_gen/d84b615b34c2e57f7ac688479ea8a1ce.jpg") repeat-x center top; }
html[lang="tr"] body, html[lang="tr"] .wb_sbg { min-width: 1200px; min-height: 2190px; }
html[lang="tr"] .wb_cont_inner { width: 1200px; }
html[lang="tr"] .wb_cont_bg { width: 1200px; margin-left: -600px; }
html[lang="tr"] .root { height: 1720px; overflow: visible; min-height: 2190px; }
#wb_element_instance0 { top: 43px; left: 600px; min-width: 600px; width: 600px; min-height: 38px; height: 38px; display: block; z-index: 719; }
#wb_element_instance0 > ul { display: block; }
#wb_element_instance0 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #1f1000 none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 5px 0px 5px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px 'Open Sans Condensed',sans-serif; text-decoration: none; color: #1a1b1c; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Open Sans Condensed',sans-serif; text-decoration: none; color: #ff8400; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 16px 'Open Sans Condensed',sans-serif; text-decoration: none; color: #ff8400; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 30px; left: 10px; min-width: 470px; width: 470px; min-height: 49px; height: 49px; display: block; z-index: 433; }
#wb_element_instance2 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 20px; height: 20px; display: block; z-index: 374; }
#wb_element_instance2 > .wb_shp { background: transparent none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 20px; }
#wb_element_instance3 { top: 20px; left: 20px; min-width: 46px; width: 46px; min-height: 80px; height: 80px; display: block; z-index: 367; }
#wb_element_instance4 { top: 20px; left: 990px; min-width: 200px; width: 200px; min-height: 38px; height: 38px; display: block; z-index: 499; }
#wb_element_instance5 { top: 884px; left: 13px; min-width: 1180px; width: 1180px; min-height: 49px; height: 49px; display: block; z-index: 313; }
#wb_element_instance6 { top: 1108px; left: 10px; min-width: 1179px; width: 1179px; min-height: 49px; height: 49px; display: block; z-index: 314; }
#wb_element_instance7 { top: 190px; left: 666px; min-width: 533px; width: 533px; min-height: 83px; height: 83px; display: block; z-index: 329; }
#wb_element_instance8 { top: 273px; left: 666px; min-width: 291px; width: 291px; min-height: 24px; height: 24px; display: block; z-index: 321; }
#wb_element_instance9 { top: 875px; left: 0px; min-width: 1200px; width: 1200px; min-height: 260px; height: 260px; display: block; z-index: 311; }
#wb_element_instance9 > .wb_shp { background: #eae8e9 none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 257px; }
#wb_element_instance10 i { width: 107px; height: 101px; font-size: 101px; }
#wb_element_instance10 { top: 933px; left: 166px; min-width: 107px; width: 107px; min-height: 101px; height: 101px; display: block; z-index: 341; }
#wb_element_instance11 i { width: 120px; height: 109px; font-size: 109px; }
#wb_element_instance11 { top: 927px; left: 526px; min-width: 120px; width: 120px; min-height: 108px; height: 108px; display: block; z-index: 343; }
#wb_element_instance12 i { width: 99px; height: 99px; font-size: 99px; }
#wb_element_instance12 { top: 937px; left: 946px; min-width: 99px; width: 99px; min-height: 98px; height: 98px; display: block; z-index: 345; }
#wb_element_instance13 { top: 1049px; left: 104px; min-width: 228px; width: 228px; min-height: 49px; height: 49px; display: block; z-index: 346; }
#wb_element_instance14 { top: 1059px; left: 470px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; z-index: 347; }
#wb_element_instance15 { top: 1061px; left: 861px; min-width: 230px; width: 230px; min-height: 23px; height: 23px; display: block; z-index: 349; }
#wb_element_instance16 { top: 1180px; left: 41px; min-width: 128px; width: 128px; min-height: 128px; height: 128px; display: block; z-index: 358; }
#wb_element_instance16 img { width: 128px; height: 128px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance17 { top: 1320px; left: 40px; min-width: 128px; width: 128px; min-height: 128px; height: 128px; display: block; z-index: 360; }
#wb_element_instance17 img { width: 128px; height: 128px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance18 { top: 1450px; left: 41px; min-width: 128px; width: 128px; min-height: 128px; height: 128px; display: block; z-index: 361; }
#wb_element_instance18 img { width: 128px; height: 128px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance19 { top: 1218px; left: 195px; min-width: 357px; width: 357px; min-height: 48px; height: 48px; display: block; z-index: 326; }
#wb_element_instance20 { top: 1360px; left: 195px; min-width: 307px; width: 307px; min-height: 48px; height: 48px; display: block; z-index: 328; }
#wb_element_instance21 { top: 1489px; left: 190px; min-width: 210px; width: 210px; min-height: 48px; height: 48px; display: block; z-index: 330; }
#wb_element_instance22 { top: 1590px; left: 41px; min-width: 129px; width: 129px; min-height: 128px; height: 128px; display: block; z-index: 363; overflow: hidden; }
#wb_element_instance22 img { width: 128px; height: 128px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance23 { top: 1629px; left: 189px; min-width: 242px; width: 242px; min-height: 48px; height: 48px; display: block; z-index: 332; }
#wb_element_instance24 { top: 1214px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 359; }
#wb_element_instance24 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance24 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance24 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance24 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance24 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance24 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance25 { top: 1354px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 362; }
#wb_element_instance25 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance25 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance25 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance25 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance25 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance25 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance26 { top: 1484px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 364; }
#wb_element_instance26 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance26 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance26 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance26 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance26 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance26 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance27 { top: 1623px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 365; }
#wb_element_instance27 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance27 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance27 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance27 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance27 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance27 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance28 form .form-area-field { height: 157px; }
#wb_element_instance28 { top: 1822px; left: 20px; min-width: 523px; width: 523px; min-height: 270px; height: 270px; display: block; z-index: 366; }
#wb_element_instance29 { top: 1760px; left: 7px; min-width: 1179px; width: 1179px; min-height: 49px; height: 49px; display: block; z-index: 316; }
#wb_element_instance30 { top: 1790px; left: 9px; min-width: 1189px; width: 1189px; min-height: 44px; height: 44px; display: block; z-index: 368; }
#wb_element_instance31 { top: 1139px; left: 9px; min-width: 1191px; width: 1191px; min-height: 44px; height: 44px; display: block; z-index: 370; }
#wb_element_instance32 { top: 1830px; left: 640px; min-width: 528px; width: 528px; min-height: 253px; height: 253px; display: block; z-index: 371; }
#wb_element_instance32 iframe { width: 528px; height: 253px; }
#wb_element_instance33 { top: 910px; left: 13px; min-width: 1186px; width: 1186px; min-height: 44px; height: 44px; display: block; z-index: 372; }
#wb_element_instance34 { top: 2112px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance35 { top: 78px; left: 0px; display: block; z-index: 9999; }
html[lang="en"] #wb_header { height: 90px; }
html[lang="en"] #wb_header > .wb_cont_bg { background: transparent none repeat scroll center top; }
html[lang="en"] #wb_main { height: 2172px; padding-bottom: 40px; }
html[lang="en"] #wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
html[lang="en"] #wb_footer { height: 60px; }
html[lang="en"] #wb_footer > .wb_cont_bg { background: #1a1b1c none repeat-x scroll left top; }
html[lang="en"] body, html[lang="en"] .wb_sbg { min-width: 1200px; min-height: 2322px; }
html[lang="en"] .wb_cont_inner { width: 1200px; }
html[lang="en"] .wb_cont_bg { width: 1200px; margin-left: -600px; }
html[lang="en"] .root { height: 2282px; overflow: visible; min-height: 2322px; }
#wb_element_instance36 { top: 43px; left: 600px; min-width: 600px; width: 600px; min-height: 38px; height: 38px; display: block; z-index: 719; }
#wb_element_instance36 > ul { display: block; }
#wb_element_instance36 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance36, #wb_element_instance36 ul { text-align: right; }
#wb_element_instance36 ul ul { background: #1f1000 none repeat scroll right top; }
#wb_element_instance36 li { margin: 0px 5px 0px 5px; }
#wb_element_instance36 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px 'Open Sans Condensed',sans-serif; text-decoration: none; color: #1a1b1c; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance36 li.over > a, #wb_element_instance36 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Open Sans Condensed',sans-serif; text-decoration: none; color: #ff8400; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance36 li.active > a { border: 0px none #000000; font: normal bold 16px 'Open Sans Condensed',sans-serif; text-decoration: none; color: #ff8400; line-height: 18px; background: transparent none no-repeat scroll center center; }
#wb_element_instance36:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance36:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance36:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance37 { top: 30px; left: 10px; min-width: 470px; width: 470px; min-height: 49px; height: 49px; display: block; z-index: 433; }
#wb_element_instance38 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 20px; height: 20px; display: block; z-index: 374; }
#wb_element_instance38 > .wb_shp { background: transparent none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 20px; }
#wb_element_instance39 { top: 20px; left: 990px; min-width: 200px; width: 200px; min-height: 38px; height: 38px; display: block; z-index: 499; }
#wb_element_instance40 { top: 884px; left: 13px; min-width: 1180px; width: 1180px; min-height: 49px; height: 49px; display: block; z-index: 313; }
#wb_element_instance41 { top: 1108px; left: 10px; min-width: 1179px; width: 1179px; min-height: 49px; height: 49px; display: block; z-index: 314; }
#wb_element_instance42 { top: 190px; left: 666px; min-width: 533px; width: 533px; min-height: 83px; height: 83px; display: block; z-index: 329; }
#wb_element_instance43 { top: 273px; left: 666px; min-width: 291px; width: 291px; min-height: 23px; height: 23px; display: block; z-index: 321; }
#wb_element_instance44 { top: 875px; left: 0px; min-width: 1200px; width: 1200px; min-height: 257px; height: 257px; display: block; z-index: 311; }
#wb_element_instance44 > .wb_shp { background: #eae8e9 none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 257px; }
#wb_element_instance45 i { width: 107px; height: 101px; font-size: 101px; }
#wb_element_instance45 { top: 933px; left: 166px; min-width: 107px; width: 107px; min-height: 101px; height: 101px; display: block; z-index: 341; }
#wb_element_instance46 i { width: 120px; height: 109px; font-size: 109px; }
#wb_element_instance46 { top: 927px; left: 526px; min-width: 120px; width: 120px; min-height: 109px; height: 109px; display: block; z-index: 343; }
#wb_element_instance47 i { width: 99px; height: 99px; font-size: 99px; }
#wb_element_instance47 { top: 937px; left: 946px; min-width: 99px; width: 99px; min-height: 99px; height: 99px; display: block; z-index: 345; }
#wb_element_instance48 { top: 1049px; left: 104px; min-width: 228px; width: 228px; min-height: 49px; height: 49px; display: block; z-index: 346; }
#wb_element_instance49 { top: 1059px; left: 470px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; z-index: 347; }
#wb_element_instance50 { top: 1061px; left: 861px; min-width: 230px; width: 230px; min-height: 24px; height: 24px; display: block; z-index: 349; }
#wb_element_instance51 { top: 1180px; left: 41px; min-width: 128px; width: 128px; min-height: 128px; height: 128px; display: block; z-index: 358; }
#wb_element_instance51 img { width: 128px; height: 128px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance52 { top: 1320px; left: 40px; min-width: 128px; width: 128px; min-height: 128px; height: 128px; display: block; z-index: 360; }
#wb_element_instance52 img { width: 128px; height: 128px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance53 { top: 1450px; left: 41px; min-width: 128px; width: 128px; min-height: 128px; height: 128px; display: block; z-index: 361; }
#wb_element_instance53 img { width: 128px; height: 128px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance54 { top: 1218px; left: 195px; min-width: 357px; width: 357px; min-height: 48px; height: 48px; display: block; z-index: 326; }
#wb_element_instance55 { top: 1360px; left: 195px; min-width: 307px; width: 307px; min-height: 48px; height: 48px; display: block; z-index: 328; }
#wb_element_instance56 { top: 1489px; left: 190px; min-width: 210px; width: 210px; min-height: 48px; height: 48px; display: block; z-index: 330; }
#wb_element_instance57 { top: 1590px; left: 41px; min-width: 129px; width: 129px; min-height: 128px; height: 128px; display: block; z-index: 363; overflow: hidden; }
#wb_element_instance57 img { width: 128px; height: 128px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance58 { top: 1629px; left: 189px; min-width: 242px; width: 242px; min-height: 48px; height: 48px; display: block; z-index: 332; }
#wb_element_instance59 { top: 1214px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 359; }
#wb_element_instance59 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance59 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance59 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance59 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance59 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance59 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance60 { top: 1354px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 362; }
#wb_element_instance60 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance60 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance60 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance60 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance60 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance60 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance61 { top: 1484px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 364; }
#wb_element_instance61 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance61 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance61 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance61 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance61 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance61 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance62 { top: 1623px; left: 981px; min-width: 150px; width: 150px; min-height: 60px; height: 60px; display: block; z-index: 365; }
#wb_element_instance62 .wb_button { width: 150px; height: 60px; font-family: 'Malgun Gothic',sans-serif; font-size: 20px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #1a1b1c none repeat left top; }
#wb_element_instance62 .wb_button > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance62 .wb_button:hover > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance62 .wb_button:hover { background: #ff8400 none repeat left top; }
#wb_element_instance62 .wb_button:active > span { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; }
#wb_element_instance62 .wb_button:active { background: #ff8400 none repeat left top; }
#wb_element_instance63 form .form-area-field { height: 157px; }
#wb_element_instance63 { top: 1822px; left: 20px; min-width: 523px; width: 523px; min-height: 270px; height: 270px; display: block; z-index: 366; }
#wb_element_instance64 { top: 1760px; left: 7px; min-width: 1179px; width: 1179px; min-height: 49px; height: 49px; display: block; z-index: 316; }
#wb_element_instance65 { top: 1790px; left: 9px; min-width: 1189px; width: 1189px; min-height: 44px; height: 44px; display: block; z-index: 368; }
#wb_element_instance66 { top: 1139px; left: 9px; min-width: 1191px; width: 1191px; min-height: 43px; height: 43px; display: block; z-index: 370; }
#wb_element_instance67 { top: 1830px; left: 640px; min-width: 528px; width: 528px; min-height: 253px; height: 253px; display: block; z-index: 371; }
#wb_element_instance67 iframe { width: 528px; height: 253px; }
#wb_element_instance68 { top: 910px; left: 13px; min-width: 1186px; width: 1186px; min-height: 42px; height: 42px; display: block; z-index: 372; }
#wb_element_instance69 { top: 2112px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance70 { top: 78px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance3 .langs_flags > a { width: 50px; height: 40px; }
#wb_element_instance3 .langs_flags > a > i { left: 4px; top: 4px; width: 42px; height: 32px; border: 1px solid #eeeeee; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#wb_element_instance3 .langs_flags > a.active > i { left: 3px; top: 3px; width: 44px; height: 34px; border: 2px solid #777777; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
#wb_element_instance3 { min-width: 46px; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance10 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance11 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance12 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance14 p:last-child { margin-bottom: 0; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance23 p:last-child { margin-bottom: 0; }
#wb_element_instance28 form td { text-align: right; }
#wb_element_instance28 form tr.area-row > th { height: 1%; }
#wb_element_instance28 form tr.area-row > td { height: 1%; }
#wb_element_instance28 form tr.form-footer > td { height: 20px; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }
#wb_element_instance30 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #436354;; }
#wb_element_instance31 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #436354;; }
#wb_element_instance33 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #436354;; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance39 p:last-child { margin-bottom: 0; }
#wb_element_instance40 p:last-child { margin-bottom: 0; }
#wb_element_instance41 p:last-child { margin-bottom: 0; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }
#wb_element_instance43 p:last-child { margin-bottom: 0; }
#wb_element_instance45 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance46 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance47 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance48 p:last-child { margin-bottom: 0; }
#wb_element_instance49 p:last-child { margin-bottom: 0; }
#wb_element_instance50 p:last-child { margin-bottom: 0; }
#wb_element_instance54 p:last-child { margin-bottom: 0; }
#wb_element_instance55 p:last-child { margin-bottom: 0; }
#wb_element_instance56 p:last-child { margin-bottom: 0; }
#wb_element_instance58 p:last-child { margin-bottom: 0; }
#wb_element_instance63 form td { text-align: right; }
#wb_element_instance63 form tr.area-row > th { height: 1%; }
#wb_element_instance63 form tr.area-row > td { height: 1%; }
#wb_element_instance63 form tr.form-footer > td { height: 20px; }
#wb_element_instance64 p:last-child { margin-bottom: 0; }
#wb_element_instance65 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #436354;; }
#wb_element_instance66 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #436354;; }
#wb_element_instance68 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #436354;; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
