@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);







#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-brand__name a {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#header4-2 H1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 60px;
}
#header4-2 P {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #efefef;
}
#header4-2 .btn {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#header4-2 B {
  font-size: 25px;
}
#features1-4 P {
  text-align: center;
  color: #ffffff;
}
#features1-4 .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#content5-c .mbr-header .mbr-header__text {
  text-align: center;
  color: #c1c1c1;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#content5-c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-c .mbr-article {
  color: #fff;
}
#content5-c .mbr-article P {
  text-align: center;
}
#form1-8 .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 46px;
  color: #ffffff;
}
#footer1-g P {
  color: #261b3d;
  text-align: center;
  font-size: 16px;
}
